<!DOCTYPE html>
<html>
<head>
	<title>Image Search</title>
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap/bootstrap.min.css">

</head>
<body>
	<div class="container">
		<h1>API Basejump: Image Search Abstraction Layer</h1>
		<blockquote>
			User stories:
				<ul>1) I can get the image URLs, snippets and page urls for a set of images relating to a given search string.
				</ul>
				<ul>2)  I can paginate through the responses by adding a ?offset=2 parameter to the URL.</ul>
				<ul>2)  I can get a list of the most recently submitted search strings.</ul>
		</blockquote>
		<h3>Example usage:</h3>
		<h4>Image search</h4>
		<code>https://search4image.herokuapp.com/api/imagesearch/lolcats%20funny?offset=8 </code><br><br>
		<h4>Latest search strings</h4>
		<code> https://search4image.herokuapp.com/api/latest/imagesearch/</code><br>
		<h3>Example creation output:</h3>
		<h4>Image search</h4>
		<code> 
		  [{<br>
		    "url": "http://p.im9.eu/funny-cat-pictures-lolcats-hey-human.jpg",<br>
		    "snippet": "Cute Funny Cat Pictures Lolcats",<br>
		    "thumbnail": "http://ts2.mm.bing.net/th?id=OIP.M1f5da418d6690f6003ce5524bd1c75ceo0&pid=15.1",<br>
		    "context": "http://memespp.com/lolcats-invisible"<br>
		  },<br>
		  ...
		  ]
 		 </code><br><br>
		 <h4>Latest search strings</h4>
 		 <code>
			  [{<br>
			    "term": "lolcats funny",<br>
			    "when": "2016-08-23T10:28:06.699Z"<br>
			  },<br>
			  ...
			  ]
 		 </code>

		</div><br>
	<footer class="container">
		Project for freeCodeCamp by <a href="https://freecodecamp.com/emmabaye" target="_blank">emmabaye</a>
	</footer>
		
</body>
</html>
